.login-dialog {
	-fx-padding: 15.0;
	-fx-spacing: 10.0;
}

#browser {
    -jfx-button-type: RAISED;
    -fx-background-color: #4285f4;
    -fx-text-fill: white;
}

.hyperlink {
	-fx-border-color: transparent;
	-fx-padding: 0;
	-fx-translate-y: -1.5;
}

.hyperlink:visited {
	-fx-text-fill: green;
}

.jfx-progress-bar .bar {
	-fx-background-color: orange;
}

.jfx-progress-bar:error .bar {
	-fx-background-color: red;
}