@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url('/resources/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    src: url('/resources/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    src: url('/resources/fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    src: url('/resources/fonts/Roboto-BoldItalic.ttf');
}


.root {
	-fx-background-color: #f5f5f5;
}

.scroll-pane {
	-fx-hbar-policy: never;
	-fx-fit-to-width: true;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
}

.jfx-rippler {
	-jfx-rippler-fill: gray;
	-jfx-rippler-radius: 200.0;
}

SVGPath {
	-fx-fill: gray;
}